[tool]
[tool.commitizen]
name = "cz_conventional_commits"
version = "0.0.1"
tag_format = "$version"
version_files = ["pyproject.toml"]

[tool.pdm]
[[tool.pdm.source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[tool.pdm.dev-dependencies]
dev = [
    "mypy",
    "flake8",
    "commitizen",
    "pre-commit",
    "matplotlib",
    "twine",
]

[tool.mypy]
mypy_path = "typings"
ignore_missing_imports = true

[project]
name = "RlEvaluation"
version = "0.0.1"
description = ""
authors = [
    {name = "Andy Patterson", email = "andnpatterson@gmail.com"},
]
dependencies = [
    "pandas>=1.5.3",
    "numba>=0.56.4",
    "numpy>=1.23.5",
]
requires-python = ">=3.9"
readme = "README.md"
license = {text = "MIT"}

[build-system]
requires = ["pdm-pep517>=1.0"]
build-backend = "pdm.pep517.api"
